<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item routerLink="/alert" detail>
    <ion-icon name="alert-circle-outline"></ion-icon>
    <ion-label>Alerta</ion-label>
  </ion-item>

  <ion-item routerLink="/action-sheet">
    <ion-icon name="magnet-outline"></ion-icon>
    <ion-label>Action hoja - action sheet</ion-label>
  </ion-item>
</ion-list>

<ion-button routerLink="/alert" color="secondary">alert</ion-button>